<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="First Suite" verbose="1">
    <test name="First Test">
        <classes>
<!--            <class name="com.pages.LoginPage">-->
<!--                <methods>-->
<!--                    <include name="TC01" />-->
<!--                    <include name="TC02" />-->
<!--                    <include name="TC03" />-->
<!--                    <include name="TC04" />-->
<!--                    <include name="TC05" />-->
<!--                </methods>-->
<!--            </class>-->
            <class name="com.testcases.LogInTestCase">
                <methods>
                    <include name="LogInSuccess"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>